  <div class="modal fade" id="otpModal" tabindex="-1" aria-labelledby="otpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="otpModalLabel">OTP Verification</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
            <ng-otp-input 
            formControlName="otp"
              [config]="otpConfig">
            </ng-otp-input>
            <button type="submit" class="btn btn-primary" [disabled]="formGroup.invalid">Verify OTP</button>
          </form>
        </div>
      </div>
    </div>
</div>
  