<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <h2 class="text-center mb-4">Register</h2>
      <div class="card shadow-sm p-4">
        <form [formGroup]="registerForm" (ngSubmit)="onRegister(registerForm.value)">
          <div class="mb-3">
            <label for="name" class="form-label">Full Name</label>
            <input type="text" id="name" class="form-control" formControlName="name" placeholder="Enter your full name">
            <div class="text-danger" *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched">
              Name is required.
            </div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" formControlName="email" placeholder="Enter a valid email">
            <div class="text-danger" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
              Email is required and must be valid.
            </div>
          </div>


          <div class="form-group">
            <label for="password" class="form-label">Password</label>
            <div class="input-group" style="flex-wrap: nowrap !important">
              <input
              [type]="showPassword ? 'text' : 'password'" 
                id="password" class="form-control" formControlName="password" placeholder="Choose a password">
              <div class="input-group-append">
                <span class="icon-container" (click)="togglePasswordVisibility()">
                  <i [ngClass]="{ 'fas fa-eye-slash': !showPassword }"></i>
                  <i [ngClass]="{ 'fas fa-eye': showPassword }"> </i>
                </span>
              </div>
            </div>

            <div class="text-danger" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
              Password is required.
            </div>
          </div>

          <div class="mb-3">
            <label for="role" class="form-label">Role</label>
            <select formControlName="roles" class="form-select" id="role" required>
              <option value="">Select role</option>
              <option value="admin">Admin</option>
              <option value="editor">Editor</option>
              <option value="viewer">Viewer</option>
              <option value="teacher">Teacher</option>
            </select>
          </div>
          
          <!-- <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword" placeholder="Confirm your password">
            <div class="text-danger" *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched">
              Confirm Password is required.
            </div>
          </div> -->
          <button type="submit" class="btn btn-primary w-100" [disabled]="!registerForm.valid">Register</button>
        </form>
        <div class="text-center mt-3">
          <span>Already have an account? </span>
          <a [routerLink]="['/login']" class="text-decoration-none text-primary">Login here</a>
        </div>
      </div>
    </div>
  </div>
</div>
