<div class="container">
  <div class="col-auto button justify-content-end">
    <button class="btn btn-primary" [routerLink]="['/admin/add-user']">Add User</button>
  </div>
  <table class="table table-hover table-striped table-bordered table-loader table-sm" style="table-layout: auto; width: 100%;">
    <thead>
      <tr>
        <th scope="col" style="white-space: nowrap;">#</th>
        <th scope="col" style="white-space: nowrap;">Name</th>
        <th scope="col" style="white-space: nowrap;">Email</th>
        <th scope="col" style="white-space: nowrap;">Roles</th>
        <th scope="col" style="white-space: nowrap;">Permissions</th>
        <th scope="col" style="white-space: nowrap;">Action Buttons</th>
      </tr>

    </thead>
    @if (users) {
      <tbody>
        @for (user of users; track user.id; let index = $index) {
          <tr>
            <td> {{ (pageNumber - 1) * 10 + index + 1 }} </td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>
              @for (role of user.roles; track $index) {
                <span class="badge badge-light" style="margin: 0 4px;">
                  {{role.name }}
                </span>
              }
              <!-- @if (user.isEditingEnabled) {
                <select  class="form-select" (change)="onRoleChanged(user, $event)">
                  @for (role of user.roles; track role) {
                    <option  [value]="role.role" >{{ role.role }}</option>
                  }
                </select>
              } -->
            </td>
            <td>
              @for (item of permissions; track $index) {
                <span class="badge badge-light permissions">
                    {{item }}
                </span>
              }
            </td>
            <!-- <td> -->
              <!-- {{user.status}} -->
              <!-- @if (user.isEditingEnabled) {
                <select [(ngModel)]="user.status" class="form-select" (change)="onStatusChanged(user, $event)">
                  <option  [value]="userStatus.APPROVED">{{ userStatus.APPROVED }}</option>
                  <option  [value]="userStatus.PENDING">{{ userStatus.PENDING }}</option>
                </select>
              } -->
            <!-- </td> -->
            <td>
              <!-- Action Buttons -->
              <button class="btn btn-warning btn-sm me-2" [routerLink]="['/admin/update-user', user.id]">
                <i class="fas fa-edit"></i> Update
              </button>
              <button class="btn btn-danger btn-sm" (click)="onDeleteUser(user)">
                <i class="fas fa-trash"></i> Delete
              </button>
            </td>
          </tr>
        }
      </tbody>
    }
  
  </table>
  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item">
        <button class="page-link" (click)="loadData(pageNumber - 1)">Previous</button>
      </li>
      <!-- <li class="page-item"><a class="page-link">1</a></li>
      <li class="page-item active">
        <span class="page-link">
          2
          <span class="sr-only">(current)</span>
        </span>
      </li>
      <li class="page-item"><a class="page-link" >3</a></li> -->
      <li class="page-item">
        <button class="page-link" (click)="loadData(pageNumber + 1)" [disabled]="totalItems === users.length" >Next</button>
      </li>
    </ul>
  </nav>
</div>
  
  